bin/
obj/
out/
Properties/
.DS_Store
*.onnx
.vs/waoeml/xs/UserPrefs.xml
.vs/waoeml/xs/project-cache/waoeml-Debug.json
.idea/.idea.waoeml/.idea/workspace.xml
.idea/.idea.waoeml/.idea/projectSettingsUpdater.xml
